__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

/venv
venv/
.venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.env.*

.idea/
.vscode/

*.sqlite3
*.db

dist/
build/
*.egg-info/